.main_menu_box{
    text-align:center
}

.Western{
    border: 1px solid black;
    width: 17%;
    height: 450px;
    border-radius: 25px;
    padding: 30px;
    margin: 10px;
    margin-top: 150px;
    display:inline-block;
    vertical-align: middle;
    float: left;
}

.btn_box{
    float: right;
    margin-top:200px;
    margin-right:130px;
}

button{
    width: 200px;
    height: 100px;
    margin:10px;
    display:inline-block;
    vertical-align: middle;
}