.menu_box{
    border: 1px solid black;
    width: 800px;
    height: 450px;
    border-radius: 25px;
    float: right;
    padding: 30px;
    margin: 40px;
}

.basic_box{
    border:1px solid black;
    width: 350px;
    height: 450px;
    border-radius: 25px;
    float: left;
    padding: 30px;
    margin: 40px;

}